.App {
    text-align: center;
    padding-top: 50px;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(45deg, #FF2CAA 0%, #ffff01 100%);
    height: 100vh;
    overflow: hidden;
}

p {
    font-family: "Pokemon Solid", sans;
    color: white;
    text-shadow: 2px 2px 2px rgb(32, 32, 32);
}

h1 {
    font-family: "Pokemon Solid", sans;
    margin: 0 auto;
    padding-bottom: 20px;
    color: white;
    text-shadow: 5px 5px 5px rgb(32, 32, 32);
    letter-spacing: 7px;
    font-size: 60px;
}

.img-wrapper {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    filter: drop-shadow(6px 6px 6px rgb(32, 32, 32));
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(42, 85, 177);
    mix-blend-mode: multiply;
    pointer-events: none; /* Ensures clicks pass through this overlay */
}

input {
    padding: 10px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}